In [1]:
import pandas as pd

In [12]:
stay = pd.read_excel('숙박업소_현황.xlsx')
bad = pd.read_excel('유흥업소_현황.xlsx')
disabled = pd.read_excel('장애인_현황.xlsx')

# 숙박

In [13]:
stay.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),시,구,동
0,0,0,0,0,3010000,3010000-214-2021-00001,영업/정상,영업,1350.84,서울특별시 중구 인현동1가 158,"서울특별시 중구 충무로 24, 3~17층 (인현동1가)",어반스테이 명동,숙박업(생활),199345.466097,451233.369781,서울특별시,중구,인현동1가
1,1,1,1,1,3010000,3010000-201-2019-00008,영업/정상,영업,610.66,서울특별시 중구 남산동2가 35-2,"서울특별시 중구 퇴계로18길 43, 지층, 1~2층 (남산동2가)",오요5(oYo5),관광호텔,198591.133748,450740.353160,서울특별시,중구,남산동2가
2,2,2,2,2,3010000,3010000-214-2023-00002,영업/정상,영업,2808.85,서울특별시 중구 남대문로3가 94,서울특별시 중구 남대문로 27 (남대문로3가),더스테이클래식호텔,숙박업(생활),198037.338494,451010.546630,서울특별시,중구,남대문로3가
3,3,3,3,3,3010000,3010000-201-2017-00010,영업/정상,영업,178.54,서울특별시 중구 남산동2가 33-3 1~2층,"서울특별시 중구 퇴계로18길 41 (남산동2가, 1~2층)",오요5롯지A(oYo5LodgeA),숙박업 기타,198602.119250,450758.364667,서울특별시,중구,남산동2가
4,4,4,4,4,3010000,3010000-201-2017-00011,영업/정상,영업,166.54,"서울특별시 중구 남산동2가 33 1,2층","서울특별시 중구 퇴계로18길 37 (남산동2가, 1,2층)",오요5롯지B(oYo5LodgeB),관광호텔,198607.670947,450770.829936,서울특별시,중구,남산동2가

In [14]:
stay = stay.iloc[:,4:]
stay.head()

,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),시,구,동
0,3010000,3010000-214-2021-00001,영업/정상,영업,1350.84,서울특별시 중구 인현동1가 158,"서울특별시 중구 충무로 24, 3~17층 (인현동1가)",어반스테이 명동,숙박업(생활),199345.466097,451233.369781,서울특별시,중구,인현동1가
1,3010000,3010000-201-2019-00008,영업/정상,영업,610.66,서울특별시 중구 남산동2가 35-2,"서울특별시 중구 퇴계로18길 43, 지층, 1~2층 (남산동2가)",오요5(oYo5),관광호텔,198591.133748,450740.353160,서울특별시,중구,남산동2가
2,3010000,3010000-214-2023-00002,영업/정상,영업,2808.85,서울특별시 중구 남대문로3가 94,서울특별시 중구 남대문로 27 (남대문로3가),더스테이클래식호텔,숙박업(생활),198037.338494,451010.546630,서울특별시,중구,남대문로3가
3,3010000,3010000-201-2017-00010,영업/정상,영업,178.54,서울특별시 중구 남산동2가 33-3 1~2층,"서울특별시 중구 퇴계로18길 41 (남산동2가, 1~2층)",오요5롯지A(oYo5LodgeA),숙박업 기타,198602.119250,450758.364667,서울특별시,중구,남산동2가
4,3010000,3010000-201-2017-00011,영업/정상,영업,166.54,"서울특별시 중구 남산동2가 33 1,2층","서울특별시 중구 퇴계로18길 37 (남산동2가, 1,2층)",오요5롯지B(oYo5LodgeB),관광호텔,198607.670947,450770.829936,서울특별시,중구,남산동2가

In [15]:

stay.drop('시',axis=1,inplace=True)
stay = stay.loc[stay['구']=='관악구',:]

In [16]:
stay.head()

,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),구,동
7,3200000,3200000-201-1986-00142,영업/정상,영업,2011.96,서울특별시 관악구 봉천동 866-4,서울특별시 관악구 남부순환로220길 34 (봉천동),베스테이린,일반호텔,195635.900771,441952.941501,관악구,봉천동
17,3200000,3200000-201-1986-00145,영업/정상,영업,3566.89,서울특별시 관악구 신림동 1422-31,서울특별시 관악구 신림로64길 16 (신림동),포도모텔,여관업,193796.499921,442525.992984,관악구,신림동
42,3200000,3200000-201-1986-00215,영업/정상,영업,215.99,서울특별시 관악구 신림동 1433-105,서울특별시 관악구 남부순환로 1591-8 (신림동),에로스,여관업,193491.945808,442478.790316,관악구,신림동
83,3200000,3200000-201-2018-00002,영업/정상,영업,981.13,서울특별시 관악구 신림동 1432-55,서울특별시 관악구 신림로65길 16-18 (신림동),어반스테이,관광호텔,193608.447654,442632.120052,관악구,신림동
88,3200000,3200000-201-1980-00105,영업/정상,영업,248.01,서울특별시 관악구 신림동 1433-97,서울특별시 관악구 남부순환로 1593-11 (신림동),HERTZ(헤르츠),여관업,193500.134721,442488.630976,관악구,신림동

In [17]:
stay.to_excel('관악구_숙박업소.xlsx')

In [31]:
stay['동'].value_counts()

동
신림동    267
봉천동    136
남현동     11
Name: count, dtype: int64

In [33]:
len(stay)

414

# 유흥

In [18]:
bad = bad.iloc[:,2:]

In [19]:
bad.head()

,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),시,구,동
0,3220000,3220000-102-2018-00006,영업/정상,영업,311.39,"서울특별시 강남구 역삼동 678-24 늘봄빌딩 2,3층","서울특별시 강남구 테헤란로27길 8-4, 늘봄빌딩 (2,3층) (역삼동)",스크린노래,룸살롱,203330.125000,444424.745000,서울특별시,강남구,역삼동
1,3230000,3230000-102-2017-00004,영업/정상,영업,85.41,서울특별시 송파구 가락동 98-7,"서울특별시 송파구 송파대로28길 13, 지하1층 101호 (가락동, 거북이빌딩)",골드1,룸살롱,210491.321884,443569.763243,서울특별시,송파구,가락동
2,3180000,3180000-102-2001-14135,영업/정상,영업,83.18,서울특별시 영등포구 신길동 449-22 신성빌딩,"서울특별시 영등포구 영등포로 400, 신성빌딩 지하1층 (신길동)",린스,룸살롱,193084.355458,445642.841120,서울특별시,영등포구,신길동
3,3210000,3210000-102-1982-06377,영업/정상,영업,126.00,서울특별시 서초구 잠원동 12-21,서울특별시 서초구 강남대로 615 (잠원동),만남,룸살롱,201601.185141,446044.757176,서울특별시,서초구,잠원동
4,3190000,3190000-102-1978-01868,폐업,폐업,98.00,서울특별시 동작구 신대방동 607-28,"서울특별시 동작구 시흥대로 646, 지하1층 (신대방동)",수,스텐드바,191742.193945,443042.735398,서울특별시,동작구,신대방동

In [20]:
bad.drop('시',axis=1,inplace=True)

In [21]:
bad = bad.loc[bad['구']=='관악구',:]
len(bad)

405

In [34]:
bad['업태구분명'].value_counts()

업태구분명
룸살롱          299
스텐드바          27
카바레           24
고고(디스코)클럽     14
간이주점          13
기타            12
비어(바)살롱        8
노래클럽           5
극장식당           2
요정             1
Name: count, dtype: int64

In [22]:
bad.to_excel('관악구_유흥업소.xlsx')

In [28]:
len(bad['동'].unique())

3

# 장애인

In [24]:
disabled.head()

   Unnamed: 0    구    동 장애인합계
0           4  종로구  사직동   267
1           5  종로구  삼청동   110
2           6  종로구  부암동   311
3           7  종로구  평창동   491
4           8  종로구  무악동   325

In [26]:
disabled=disabled.loc[disabled['구']=='관악구','구':]
disabled.head()

       구     동 장애인합계
321  관악구   청림동   663
322  관악구   행운동  1035
323  관악구  낙성대동   444
324  관악구   중앙동   589
325  관악구   인헌동   912

In [32]:
disabled.to_excel('관악구_장애인_현황.xlsx')

### 단란주점

In [48]:
drink = pd.read_excel('서울시관악구단란주점영업인허가정보.xlsx')
drink.head()

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,3200000,3200000-103-1993-07856,19930818,NaN,3,폐업,2,폐업,19981117,NaN,...,NaN,NaN,NaN,NaN,NaN,N,118,NaN,NaN,NaN
1,3200000,3200000-103-1993-07857,19930825,NaN,3,폐업,2,폐업,19960201,NaN,...,NaN,NaN,NaN,NaN,NaN,N,106.75,NaN,NaN,NaN
2,3200000,3200000-103-1993-07858,19930825,NaN,3,폐업,2,폐업,20000215,NaN,...,NaN,NaN,NaN,NaN,NaN,N,82.36,NaN,NaN,NaN
3,3200000,3200000-103-1993-07859,19930826,NaN,3,폐업,2,폐업,19961014,NaN,...,NaN,NaN,NaN,NaN,NaN,N,121.16,NaN,NaN,NaN
4,3200000,3200000-103-1993-07861,19930827,NaN,3,폐업,2,폐업,20000609,NaN,...,NaN,NaN,NaN,NaN,NaN,N,115.71,NaN,NaN,NaN

In [49]:
drink.columns

Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)', '위생업태명', '남성종사자수', '여성종사자수',
       '영업장주변구분명', '등급구분명', '급수시설구분명', '총인원', '본사종업원수', '공장사무직종업원수',
       '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액', '월세액', '다중이용업소여부', '시설총규모',
       '전통업소지정번호', '전통업소주된음식', '홈페이지'],
      dtype='object')

In [50]:
drink = drink.loc[drink['상세영업상태명']=='영업',['개방자치단체코드','영업상태코드','영업상태명','소재지면적','지번주소','도로명주소','사업장명','업태구분명','좌표정보(X)', '좌표정보(Y)']]
drink.head()

,개방자치단체코드,영업상태코드,영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
29,3200000,1,영업/정상,67.50,서울특별시 관악구 신림동 1666번지,서울특별시 관악구 시흥대로 548,8768,2019-11-10 02:40:00,단란주점,191182.000481
30,3200000,1,영업/정상,108.81,서울특별시 관악구 신림동 518-2번지,서울특별시 관악구 신사로 94,8701,2018-08-31 23:59:59,단란주점,192250.237798
47,3200000,1,영업/정상,93.84,서울특별시 관악구 신림동 681-8,서울특별시 관악구 난곡로 103 (신림동),쎈스노래노래,단란주점,192767.454208,440299.376149
49,3200000,1,영업/정상,133.95,서울특별시 관악구 신림동 566-7번지,서울특별시 관악구 남부순환로 지하 1405 (신림동),황실메들리,단란주점,191679.932204,442057.783729
63,3200000,1,영업/정상,146.47,서울특별시 관악구 신림동 1655-43,서울특별시 관악구 조원로2길 48 (신림동),오케이노래바,단란주점,191210.006577,442171.323473

In [51]:
drink.to_excel('관악구_단란주점.xlsx')

In [52]:
game = pd.read_excel('서울시관악구일반게임제공업인허가정보.xlsx')
game.head()

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,지역구분명,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,3200000,CDFF2241011985000001,19850402,NaN,3,폐업,3,폐업,20030923,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3200000,CDFF2241011985000002,19850408,NaN,3,폐업,3,폐업,20010720,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3200000,CDFF2241011985000003,19850507,NaN,3,폐업,3,폐업,20011207,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3200000,CDFF2241011985000004,19850522,NaN,3,폐업,3,폐업,20000201,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3200000,CDFF2241011985000005,19850528,NaN,3,폐업,3,폐업,20020218,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN